# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
DerivedData/
.derivedData/
build/
*.xcuserstate
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM
*.dSYM.zip
timeline.xctimeline
playground/

**/xcuserdata/

.build/
.swiftpm/
Package.resolved

dist/
*.zip
!Scripts/
